<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Define o padrão do log -->
<!--	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n " />-->
	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%10thread] %-5level %-50logger{50} : %msg%n" />
	

	<!-- Diretório onde os logs serão salvos -->
	<property name="LOG_PATH" value="logs" />

	<!-- Console -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- Arquivo com rotação diária -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/app-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory> <!-- guarda os logs por 7 dias -->
		</rollingPolicy>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- Define o log da aplicação -->
	<logger name="br.com.agrego" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- Define logs de bibliotecas externas -->
	<logger name="org.springframework" level="INFO" />
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.apache" level="ERROR" />
	
	<!-- Níveis de log -->
	<root level="ERROR">
		<appender-ref ref="CONSOLE" />
<!--		<appender-ref ref="FILE" />-->
	</root>

</configuration>
