<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br" layout:decorate="_config/corpo">

<!--<div th:fragment="conteudo">-->
<th:block layout:fragment="conteudo">
	<v-main>
		<v-container fluid>
			<v-icon icon="$vuetify"></v-icon>
			<v-icon icon="mdi-alert-circle"></v-icon>
			<v-btn >Button2</v-btn>
		</v-container>
	</v-main>
</th:block>
<!--</div>-->

<th:block layout:fragment="scripts">
	<script type="text/javascript" th:src="@{/static/js/index.js}"></script>
</th:block>

</html>