<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
	<meta charset="UTF-8">
<!--	<link href="/nebula.png" rel="icon" type="image/png" />-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/webjars/mdi__font/7.3.67/css/materialdesignicons.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/material-design-icons/4.0.0/material-icons.css}" />
	<link rel="stylesheet" th:href="@{/webjars/vuetify/3.4.6/dist/vuetify.min.css}" />

	<!--	<script type="text/javascript" th:src="@{/webjars/mdi__font/7.3.67/scripts/verify.js}"></script>-->
	<script type="text/javascript" th:src="@{/webjars/vue/3.4.15/dist/vue.global.prod.js}"></script>
	<!--	<script type="text/javascript" th:src="@{/webjars/vue/3.4.15/dist/vue.esm-bundler.js}"></script>-->
	<script type="text/javascript" th:src="@{/webjars/axios/1.6.5/dist/axios.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/vuetify/3.4.6/dist/vuetify.min.js}"></script>

	<link rel="stylesheet" th:href="@{/static/css/appBase.css}" />
	<title>AGREGO - WEB</title>
</head>

<body>
		<div id="app"> 
			<v-app>
				<v-app-bar color="surface-variant" title="AGREGO WEB" icon></v-app-bar>
				<v-main>
<!--					<v-alert closable text="teste de alerta2" type="warning"></v-alert>-->
					<v-container fluid>
						<div th:if="${param.error}">
							Invalid username and password.
						</div>
						<div th:if="${param.logout}">
							You have been logged out2.
						</div>
						<form th:action="@{/login}" method="post">
							<div><label> User Name : <input type="text" name="username" value="user"/></label></div>
							<div><label> Password: <input type="password" name="password" value="password"/></label></div>
							<div><input type="submit" value="Sign In" /></div>
						</form>
					</v-container>
				</v-main>
				<v-footer class="px-0 py-0" app="true">
					<div class="bg-black text-center w-100">
						{{ new Date().getFullYear() }} — <strong>Vuetify</strong>
					</div>
				</v-footer>
			</v-app> 
		</div>
		<script type="text/javascript" th:src="@{/static/js/login.js}"></script>
</body>

</html>