<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br" layout:decorate="~{_config/corpo}">

<th:block layout:fragment="conteudo">
	<v-main>
		<v-container fluid>
			<h1 th:text="${titulo}">Livro</h1>
		</v-container>
		
		<v-container fluid color="primary">
			<v-row>
				<v-col cols="2"><v-text-field density="compact" label="Id" placeholder="Id" variant="outlined"/></v-col>
				<v-col cols="2"><v-text-field density="compact" label="Titulo" placeholder="Titulo" variant="outlined"/></v-col>
				<v-col cols="2"><v-text-field density="compact" label="Descricao" placeholder="Descricao" variant="outlined"/></v-col>
			</v-row>
		</v-container>
		<v-container class="ml-1 ">
			<v-btn class="mr-2" color="">Limpar</v-btn>
			<v-btn class="mr-2" color="secondary">Pesquisar</v-btn>
			<v-btn class="mr-2" color="primary">Novo</v-btn>
		</v-container>
		<v-container fluid>
			<v-data-table-server density="compact"
				:items-per-page="config.table.pagination.itemsPerPage"
				:items-length="config.table.pagination.totalItems"
				:loading="config.table.loading"
				:headers="headers"
				:items="itens"
				item-value="id"
			/>
		</v-container>
	</v-main>
</th:block>

<th:block layout:fragment="scripts">
	<script type="text/javascript" th:src="@{/static/js/livro.js}"></script>
</th:block>

</html>