<v-form ref="formFiltro" id="formFiltro">
	<v-container fluid>
		<v-row>
			<v-col cols="2"><v-text-field v-model="consulta.filtro.id" density="compact" label="Id" placeholder="Id" variant="outlined" clearable /></v-col>
			<v-col cols="2"><v-text-field v-model="consulta.filtro.nome" density="compact" label="Nome" placeholder="Nome" variant="outlined" clearable /></v-col>
			<v-col cols="2"><v-text-field v-model="consulta.filtro.email" density="compact" label="E-Mail" placeholder="E-Mail" variant="outlined" clearable /></v-col>
			<v-col cols="2"><v-text-field v-model="consulta.filtro.celular" density="compact" label="Celular" placeholder="Celular" variant="outlined" clearable v-mask="'(##) #####-####'" /></v-col>
		</v-row>
	</v-container>
	
	<th:block th:replace="~{_config/botoes}" />
	
</v-form>
